#__bs_notify__ {
  top: 0 !important;
  max-height: 50px;
  right: auto !important;
  bottom: 0 !important;
  left: 0 !important;
  border-radius: 0 !important;
}

.c-wrap {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 15px;
}

@media (min-width: 765px) {
  .c-wrap {
    padding-left: 40px;
    padding-right: 40px;
  }
}

.c-head {
  padding: 20px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ddd;
}

.c-box {
  padding: 8px;
  text-align: center;
  background: rgba(147, 128, 108, 0.2);
  direction: ltr;
  border: 1px solid #ccc;
}

.c-box--1 {
  height: 100px;
  display: table-cell;
  width: 100%;
}

.c-hr {
  margin: 40px;
  border: 2px solid #eee;
  position: relative;
}

.c-hr:before {
  content: '';
  height: 20px;
  width: 20px;
  display: block;
  position: absolute;
  top: -11px;
  left: 50%;
  background: #fff;
  transform: rotate(45deg);
  border-bottom: 4px solid #eee;
  border-right: 4px solid #eee;
}
