/**************************************************************
  Name: Actions
  Description: actions line on bottom of page

  Component:
  .h-act
**************************************************************/


// Imports
@import "../variables/colors";
@import "../variables/breakpoints";
@import "../variables/global";


// Variables
$act-background-color: #fff;
$act-gutter: $global-spacing-medium;


// Component
.h-act {
  background-color: $act-background-color;
  display: flex;
  flex-direction: row;
  align-items: center;

  @media (max-width: $breakpoint-small) {
    flex-direction: column;
  }

  &__primary {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: auto;


    button, a {
      white-space: nowrap;
    }

    button:not(:first-child),
    a:not(:first-child) {
      margin-right: $global-spacing-medium;
    }
  }

  &__secondary {
    margin-left: auto;
    padding: 0 $act-gutter;

    @media (max-width: $breakpoint-small) {
      padding: $act-gutter;
    }
  }

  &__secondary + &__primary {
    @media (max-width: $breakpoint-small) {
      padding: 0 $act-gutter $act-gutter $act-gutter;
    }
  }
}
