/**************************************************************
  Name: Button
  Description: Defines styles for buttons

  Component:
  .h-button

  Modifiers:
  .h-button--primary
  .h-button--danger
  .h-button--small
  .h-button--large

  States:
  .is-active
  .is-disabled
**************************************************************/


// Imports
@import "../variables/global";
@import "../variables/colors";
@import "../variables/breakpoints";


// Variables
$button-font-family: $global-font-family;
$button-transition-time: 150ms;
$button-line-height: 1;

$button-font-size: 1.1rem;
$button-small-font-size: 0.8rem;
$button-large-font-size: 1.4rem;

$button-background: transparent;
$button-color: $color-link;
$button-hover-background: rgba($color-primary-1, 0.08);
$button-hover-color: $color-link;
$button-active-background: #68a8d2;

$button-primary-background: $color-link;
$button-primary-color: #fff;
$button-primary-hover-background: #00568e;
$button-primary-active-background: #024977;

$button-danger-background: $color-danger;
$button-danger-color: #fff;
$button-danger-hover-background: #c82333;
$button-danger-active-background: #bd2130;

$button-disabled-background: #e7e7e7;
$button-disabled-color: #666;

$button-link-color: $color-link;
$button-link-hover-color: #003557;
$button-link-hover-text-decoration: underline;
$button-link-disabled-color: #999;


// Component
.h-button {
  $component: &;

  overflow: hidden;
  position: relative;
  white-space: nowrap;
	font-family: $button-font-family;
	vertical-align: middle;
	text-decoration: none;
	text-align: center;
	border: none;
  border-radius: 0;
	line-height: $button-line-height;
	font-size: $button-font-size;
	padding: $global-spacing-small $global-spacing-medium;
	background: $button-background;
	color: $button-color;
  transition: all $button-transition-time ease-in-out;
  cursor: pointer;
  align-items: center;
  display: inline-flex;
  justify-content: center;

	// Make sure that on small screen the button not breaks into multiple lines
  @media (max-width: $breakpoint-small) {
		word-wrap: normal;
  }

	&:hover {
		background-color: $button-hover-background;
		color: $button-hover-color;
		text-decoration: none;
	}

  &:focus {
    outline: 0;
    box-shadow: 0 0 0 2px rgba($button-active-background, .35);
    text-decoration: none;
  }

  // State: active
	&:active,
  &.is-active {
		background-color: $button-active-background;
	}

  // State: disabled
	// Overrides also the color modifiers, Equal for all button types
	&:disabled,
	&.is-disabled {
		background-color: $button-disabled-background;
		color: $button-disabled-color;
		cursor: not-allowed;
    box-shadow: none;

		&:hover {
			background-color: $button-disabled-background;
			color: $button-disabled-color;
		}
	}

  &__text {
    display: flex;
    transition: all $button-transition-time ease-in-out;
  }

  // Modifier: primary
  &--primary {
    background-color: $button-primary-background;
    color: $button-primary-color;

    &:hover {
      background-color: $button-primary-hover-background;
      color: #fff;
    }

    &:focus {
      box-shadow: 0 0 0 2px rgba($button-primary-active-background, .35);
    }

    &:active, &.is-active {
      background-color: $button-primary-active-background;
    }

  }

  // Modifier: danger
  &--danger {
    background-color: $button-danger-background;
    color: $button-danger-color;

    &:hover {
      background-color: $button-danger-hover-background;
      color: #fff;
    }

    &:focus {
      box-shadow: 0 0 0 2px rgba($button-danger-active-background, .35);
    }

    &:active, &.is-active {
      background-color: $button-danger-active-background;
    }
  }

  // Modifier: small
  &--small {
    font-size: $button-small-font-size;
    min-width: initial;
  }

  // Modifier: large
  &--large {
    font-size: $button-large-font-size;
    padding-top: $global-spacing-medium;
    padding-bottom: $global-spacing-medium;
    min-width: initial;
  }
}
