/**************************************************************
  Name: Check
  Description: Cubes checks selection

  Component:
  .h-checks
**************************************************************/


// Imports
@import "../variables/breakpoints";


// Variables
$checks-border-color: #CECFD3;
$checks-width: 33.33333333%;
$checks-padding: 10px;
$checks-side-space: 30px;
$checks-font-size: 20px;
$checks-options-gutter: 8px;


// Component
.h-checks {
	padding: 0;
	list-style: none;
  display: flex;
  flex-wrap: wrap;
  border: solid $checks-border-color;
  border-width: 1px 1px 0 0;

  li {
    flex-basis: $checks-width;
    width: $checks-width;
    max-width: $checks-width;
    position: relative;
    border: solid $checks-border-color;
    border-width: 0 0 1px 1px;
    padding: $checks-padding;
    padding-left: $checks-side-space;
    overflow: hidden;

    label {
      font-size: $checks-font-size;
      user-select: none;
    }
  }

  &__option,
  &__options {
    position: absolute;
    top: 0;
    left: 0;
    width: $checks-side-space;
  }

  // only one option
  &__option {
    margin-top: 10px;
  }


  // one or more options
  &__options {
    padding-top: 10px;
    height: 100%;
  }

  &__option,
  &__options a {
    display: block;
    height: $checks-side-space;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;

    &:not(:last-child) {
      margin-bottom: $checks-options-gutter;
    }
  }

  // Modifier: two in line
  &--2 {
    li {
      flex-basis: 50%;
      width: 50%;
      max-width: 50%;
    }
  }

  // Modifier: four in line
  &--4 {
    li {
      flex-basis: 25%;
      width: 25%;
      max-width: 25%;
    }
  }

  li {
    @media (max-width: $breakpoint-medium) {
      flex-basis: 50%;
      width: 50%;
      max-width: 50%;
    }

    @media (max-width: $breakpoint-small) {
      flex-basis: 100%;
      width: 100%;
      max-width: 100%;
    }
  }
}
