/**************************************************************
  Name: column
  Description:  Display your content in multiple text columns without
                having to split it in several containers

  Component:
  .h-column
**************************************************************/


// Imports
@import "../variables/global";
@import "../variables/colors";
@import "../variables/breakpoints";


// Variables
$column-gap: 24px;
$column-rule-color: #e5e5e5;


// Component
.h-column {
  &-1 {
    column-count: 1;
  }

  &-2 {
    column-count: 2;
  }

  &-3 {
    column-count: 3;
  }

  &-4 {
    column-count: 4;
  }

  &-5 {
    column-count: 5;
  }

  &-6 {
    column-count: 6;
  }

  &--span {
    column-span: all;
    margin-bottom: $global-spacing-medium;
    margin-top: $global-spacing-medium;
  }

  &--divider {
    column-rule: 1px solid $column-rule-color;
    column-gap: ($column-gap * 2);
  }

  @media (max-width: $breakpoint-large) {
    &-l-1 {
      column-count: 1;
    }

    &-l-2 {
      column-count: 2;
    }

    &-l-3 {
      column-count: 3;
    }

    &-l-4 {
      column-count: 4;
    }

    &-l-5 {
      column-count: 5;
    }

    &-l-6 {
      column-count: 6;
    }
  }

  @media (max-width: $breakpoint-medium) {
    &-m-1 {
      column-count: 1;
    }
    &-m-2 {
      column-count: 2;
    }

    &-m-3 {
      column-count: 3;
    }

    &-m-4 {
      column-count: 4;
    }

    &-m-5 {
      column-count: 5;
    }

    &-m-6 {
      column-count: 6;
    }
  }

  @media (max-width: $breakpoint-small) {
    &-s-1 {
      column-count: 1;
    }

    &-s-2 {
      column-count: 2;
    }

    &-s-3 {
      column-count: 3;
    }

    &-s-4 {
      column-count: 4;
    }

    &-s-5 {
      column-count: 5;
    }

    &-s-6 {
      column-count: 6;
    }
  }
}

[class*='h-column--'] {
  column-gap: $column-gap;
}
