/**************************************************************
  Name: Dl
  Description: Defines styles for definition list

  Component:
  .h-dl
**************************************************************/


// Imports
@import "../variables/global";
@import "../variables/colors";
@import "../variables/breakpoints";


// Variables
$dl-term-width: 140px;
$dl-gutter: 15px;


// Component
.h-dl {
  dt {
    float: right;
    margin-left: $dl-gutter;
    max-width: $dl-term-width;
    color: $color-primary-1;
  }

  dd {
    color: grey;
    margin-right: $dl-term-width;
    margin-bottom: $global-spacing-medium;

    &:after {
      content: "";
      display: block;
      clear: right;
    }
  }
}
