/**************************************************************
  Name: field
  Description: Defines styles for form input field

  Component:
  .h-field

  Modifiers:
  .h-field--light
  .h-field--nolabel

  States:
  .is-focused
  .is-float
  .is-invalid
  .is-disabled
**************************************************************/


// Imports
@import "../variables/global";
@import "../variables/colors";
@import "../variables/breakpoints";


// Variables
$field-placeholder-transition: color .3s .133s cubic-bezier(.25,.8,.25,1);

$field-placeholder-color: #9b9b9b;
$field-label-color: #9e9e9e;
$field-input-color: rgba(0, 0, 0, 0.7);
$field-focus-label-color: rgba($color-primary-1, 0.8);
$field-focus-line-background-color: $color-primary-1;
$field-line-background-color: rgba(0, 0, 0, 0.4);
$field-prefix-suffix-color: $color-base;
$field-disabled-color: rgba(0, 0, 0, 0.3);
$field-disabled-background-color: rgba(246, 246, 246, 0.4);
$field-disabled-line-background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 33%, transparent 0%);
$field-select-background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 1792 1792' width='20' height='20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23585858' d='M1395 736q0 13-10 23l-466 466q-10 10-23 10t-23-10L407 759q-10-10-10-23t10-23l50-50q10-10 23-10t23 10l393 393 393-393q10-10 23-10t23 10l50 50q10 10 10 23z'/%3E%3C/svg%3E");
$field-disabled-select-background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 1792 1792' width='20' height='20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23ddd' d='M1395 736q0 13-10 23l-466 466q-10 10-23 10t-23-10L407 759q-10-10-10-23t10-23l50-50q10-10 23-10t23 10l393 393 393-393q10-10 23-10t23 10l50 50q10 10 10 23z'/%3E%3C/svg%3E");
$field-help-color: rgba(0, 0, 0, 0.5);

$field-light-placeholder-color: rgba(255, 255, 255, 0.5);
$field-light-label-color: rgba(232, 232, 232, 0.7);
$field-light-input-color: #fff;
$field-light-focus-label-color: rgba(255, 255, 255, 0.8);
$field-light-focus-line-background-color: rgba(255, 255, 255, 0.8);
$field-light-line-background-color: rgba(255, 255, 255, 0.4);
$field-light-prefix-suffix-color: rgba(255, 255, 255, 0.6);
$field-light-disabled-color: rgba(255, 255, 255, 0.5);
$field-light-disabled-background-color: rgba(246, 246, 246, 0.1);
$field-light-disabled-line-background-image: linear-gradient(to right, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.5) 33%, transparent 0%);
$field-light-select-background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 1792 1792' width='20' height='20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23fff' d='M1395 736q0 13-10 23l-466 466q-10 10-23 10t-23-10L407 759q-10-10-10-23t10-23l50-50q10-10 23-10t23 10l393 393 393-393q10-10 23-10t23 10l50 50q10 10 10 23z'/%3E%3C/svg%3E");
$field-light-disabled-select-background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 1792 1792' width='20' height='20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%237d8eac' d='M1395 736q0 13-10 23l-466 466q-10 10-23 10t-23-10L407 759q-10-10-10-23t10-23l50-50q10-10 23-10t23 10l393 393 393-393q10-10 23-10t23 10l50 50q10 10 10 23z'/%3E%3C/svg%3E");
$field-light-help-color: rgba(255, 255, 255, 0.6);



// Component
.h-field {
  $component: &;

  display: block;
  position: relative;
  flex: 1 1 auto;
  min-width: 0;
  max-width: 100%;
  margin: 1em 0;
  padding: 0;

  // Field input
  &__element {
    border: 0 none;
    font-family: $global-font-family;
    max-width: 100%;
    width: 100%;
	  word-wrap: normal;
    background-color: transparent;
    outline: none;
    height: 2em;
    font-size: 1em;
    padding: 0;
    appearance: none;
    transition: opacity .2s ease-out;
    color: transparent;

    &:focus {
      outline: 1px solid transparent;
    }

    // remove chrome background color for autofill
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
      -webkit-text-fill-color: $field-input-color;
      transition: background-color 5000s ease-in-out 0s;
    }

    &::-webkit-input-placeholder {
      color: transparent;
      transition: $field-placeholder-transition;
    }

    &::-moz-placeholder {
      color: transparent;
      transition: color .3s .133s cubic-bezier(.25,.8,.25,1);
    }

    // Higher specificity (!important) needed to override color in IE
    &:-ms-input-placeholder {
      color: transparent !important;
      transition: color .3s .133s cubic-bezier(.25,.8,.25,1);
    }

    &::placeholder {
      color: transparent;
      transition: color .3s .133s cubic-bezier(.25,.8,.25,1);
    }

    // Field label
    ~ label {
      font-size: 1em;
      color: $field-label-color;
      position: absolute;
      top: 0;
      right: 0;
      cursor: text;
      transition: transform .2s ease-out, color .2s ease-out;
      transform-origin: 100% 0%;
      text-align: initial;
      transform: translateY(.470em);
      line-height: 1;
      overflow: hidden;
      max-width: 100%;
      white-space: nowrap;
      text-overflow: ellipsis;
      user-select: none;
      pointer-events: none;
    }
  }

  // Bottom line
  &__line {
    pointer-events: none;
    height: 1px;
    background-color: $field-line-background-color;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      height: 2px;
      width: 100%;
      transform-origin: 100%;
      transform: scaleX(.1);
      opacity: 0;
      transition: transform 180ms cubic-bezier(.55,0,.55,.2);
    }
  }

  // Field select
  select {
    cursor: pointer;
    background-color: transparent;
    background-image: $field-select-background-image;
    background-repeat: no-repeat;
    background-position: 0 50%;
    padding-left: 20px;
    border: 0 none;
    appearance: none;
    padding-top: 1px;

    &[multiple],
    &[size] {
      height: auto;
    }

    + label {
      padding-left: 20px;
    }
  }

  // Field textarea
  textarea {
    line-height: 1.1;
  }

  // Field flex
  &__flex {
    display: inline-flex;
    align-items: baseline;
    box-sizing: border-box;
    width: 100%;
  }

  // Field help
  &__help {
    margin-top: $global-spacing-xsmall;
    display: flex;
    font-size: 0.75em;
    color: $field-help-color;
  }

  &__help-gap {
    flex: 1 0 1em;
  }

  // Field prefix & suffix
  &__prefix,
  &__suffix {
    color: $field-prefix-suffix-color;
    line-height: 1;
    white-space: nowrap;
    flex: none;
    position: relative;

    select,
    input {
      height: auto;
    }

    button {
      padding-top: $global-spacing-xsmall;
      padding-bottom: $global-spacing-xsmall;
    }
  }

  // Field infix
  &__infix {
    display: block;
    position: relative;
    flex: auto;
    min-width: 0;
  }

  // State: disabled
  &.is-disabled {
    #{$component}__element {
      opacity: 1;
      color: $field-disabled-color;
      background-color: $field-disabled-background-color;
    }

    #{$component}__line {
      background-color: transparent;
      background-image: $field-disabled-line-background-image;
      background-size: 4px 100%;
      background-repeat: repeat-x;
    }

    select {
      background-image: $field-disabled-select-background-image;
    }
  }

  // State: focused & float
  &.is-focused,
  &.is-float {
    #{$component}__element {
      color: $field-input-color;

      &::-webkit-input-placeholder {
        color: $field-placeholder-color;
      }

      &::-moz-placeholder {
        color: $field-placeholder-color;
      }

      &:-ms-input-placeholder {
        color: $field-placeholder-color !important;
      }

      &::placeholder {
        color: $field-placeholder-color;
      }
    }

    #{$component}__element + label {
      transform: translateY(-1em) scale(0.8);
    }
  }

  // State: focused
  &.is-focused {
    #{$component}__element + label {
      color: $field-focus-label-color;
    }

    #{$component}__line:after {
      opacity: 1;
      transform: scaleX(1);
      background-color: $field-focus-line-background-color;
    }
  }

  // State: invalid
  &.is-invalid {
    label {
      color: $color-danger !important;
    }

    #{$component}__line:after {
      opacity: 1;
      transform: scaleX(1);
      background-color: $color-danger !important;
    }
  }

  // Modifier: no label
  &--nolabel {
    margin-top: 0;

    #{$component}__element {
      color: $field-input-color;

      &::-webkit-input-placeholder {
        color: $field-placeholder-color;
      }

      &::-moz-placeholder {
        color: $field-placeholder-color;
      }

      &:-ms-input-placeholder {
        color: $field-placeholder-color !important;
      }

      &::placeholder {
        color: $field-placeholder-color;
      }
    }
  }

  // Modifier: light
  &--light {
    #{$component}__element {
      + label {
        color: $field-light-label-color;
      }
    }

    select {
      background-image: $field-light-select-background-image;
    }

    &.is-disabled {
      color: $field-light-disabled-color;
      background-color: $field-light-disabled-background-color;

      #{$component}__line {
        background-image: $field-light-disabled-line-background-image;
      }

      select {
        background-image: $field-light-disabled-select-background-image;
      }
    }

    &.is-focused,
    &.is-float {
      #{$component}__element {
        color: $field-light-input-color;

        &::-webkit-input-placeholder {
          color: $field-light-placeholder-color;
        }

        &:-webkit-autofill {
          -webkit-text-fill-color: $field-light-input-color;
        }

        &::-moz-placeholder {
          color: $field-light-placeholder-color;
        }

        &:-ms-input-placeholder {
          color: $field-light-placeholder-color !important;
        }

        &::placeholder {
          color: $field-light-placeholder-color;
        }
      }
    }

    &.is-focused {
      #{$component}__element + label {
        color: $field-light-focus-label-color;
      }

      #{$component}__line:after {
        background-color: $field-light-focus-line-background-color;
      }
    }

    #{$component}__line {
      background-color: $field-light-line-background-color;
    }

    #{$component}__prefix,
    #{$component}__suffix {
      color: $field-light-prefix-suffix-color;
    }

    #{$component}__help {
      color: $field-light-help-color;
    }

    #{$component}__prefix,
    #{$component}__suffix {
      select {
        color: #fff;
      }
    }
  }

  &--nolabel.h-field--light {
    #{$component}__element {
      color: $field-light-input-color;

      &::-webkit-input-placeholder {
        color: $field-light-placeholder-color;
      }

      &::-moz-placeholder {
        color: $field-light-placeholder-color;
      }

      &:-ms-input-placeholder {
        color: $field-light-placeholder-color !important;
      }

      &::placeholder {
        color: $field-light-placeholder-color;
      }
    }
  }

}
