/**************************************************************
  Name: Head
  Description: Layout header style

  Component:
  .h-head

**************************************************************/


// Imports
@import "../variables/colors";
@import "../variables/global";
@import "../variables/breakpoints";


// Variables
$head-color: #fff;
$head-padding-vertical: 15px;
$head-padding-horizontal: 10px;
$head-min-height: 70px;


// Component
.h-head {
  position: relative;
  background-color: $color-primary-2;
  color: $head-color;
  line-height: 1;
  padding: $head-padding-vertical $head-padding-horizontal;
  min-height: $head-min-height;
  margin-bottom: $global-spacing-small;

  @media (min-width: $breakpoint-medium) {
    display: flex;
    align-items: center;
  }

  &__title {
    margin: 0;
    padding-left: 60px;

    @media (min-width: $breakpoint-medium) {
      padding-left: 0;
    }
  }

  &__subtitle {
    margin: 0;
    margin-right: auto;
    font-size: 20px;
    color: #eee;
    margin-top: 4px;
    padding-left: 60px;

    @media (min-width: $breakpoint-medium) {
      margin-top: 0;
      padding-left: 0;
    }
  }

  &__print {
    position: absolute;
    display: block;
    top: $head-padding-vertical;
    left: $head-padding-horizontal;
    margin-right: 8px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    border-radius: 50%;
    border: 2px solid #fff;
    font-size: 1rem;

    &:hover,
    &:focus {
      background: #fff;
      color: #003f80;
      text-decoration: none;
    }

    @media (min-width: $breakpoint-medium) {
      position: static;
    }
  }
}
