/**************************************************************
  Name: icon
  Description: Define styles for icons

  Component:
  .h-icon
**************************************************************/


// Variables
$icon-color: currentColor;
$icon-height: 1em;
$icon-width: 1em;
$icon-height-large: 2em;
$icon-width-large: 2em;
$icon-height-small: .5em;
$icon-width-small: .5em;
$icon-circle-padding: 4px;


// Component
// span.h-icon {
//   display: inline-block;
//   height: $icon-height;
//   width: $icon-width;

//   &--circle {
//     border: 1px solid $icon-color;
//     border-radius: 50%;
//     padding: $icon-circle-padding;
//   }
// }

.h-icon {
  $component: &;

  background-color: transparent;
  // display: flex;
  // vertical-align: middle;
  // align-items: center;
  display: inline-block;

  > svg {
    min-height: $icon-height;
    height: $icon-height;
    min-width: $icon-width;
    width: $icon-width;
    // display: flex;
    // flex-grow: 1;
    // flex-basis: auto;
    transition: inherit;
    fill: $icon-color;
    pointer-events: none;
    vertical-align: middle;
  }


  &--large > svg {
    height: $icon-height-large;
    min-height: $icon-height-large;
    width: $icon-width-large;
    min-width: $icon-width-large;
  }

  &--small > svg {
    height: $icon-height-small;
    min-height: $icon-height-small;
    width: $icon-width-small;
    min-width: $icon-width-small;
  }

  &--circle > svg {
    border: 1px solid $icon-color;
    border-radius: 50%;
    padding: $icon-circle-padding;
  }

/*
  &__svg {
    height: $icon-height;
    width: $icon-width;
    display: flex;
    transition: inherit;
    fill: $icon-color;

    & > svg {
      height: 100%;
      width: 100%;
    }
  }

  &__svg + &__text {
    padding-right: 8px;
  }

  &__text {
    line-height: 1;
  }

  &--large > #{$component}__svg {
    height: $icon-height-large;
    width: $icon-width-large;
  }

  &--small > #{$component}__svg {
    height: $icon-height-small;
    width: $icon-width-small;
  }

  &--circle > #{$component}__svg {
    border: 1px solid $icon-color;
    border-radius: 50%;
    padding: $icon-circle-padding;
  }

  &--vertical {
    flex-direction: column;

    > #{$component}__text {
      padding: 8px 0 0 0;
    }
  }

*/
}
