/**************************************************************
  Name: input group
  Description: Defines styles for form input group

  Component:
  .h-group
  .h-group__addon

  Modifier:
  .h-group__addon--clear

**************************************************************/


// Variables
$inputgroup-gutter: 15px;
$inputgroup-addon-padding: 6px 12px;
$inputgroup-background-color: #f5f5f5;
$inputgroup-color: #585858;
$inputgroup-border-color: #99C1DB;


// Component: Input group
.h-group {
  position: relative;
  display: flex;
  align-items: stretch;
  width: 100%;
  border: 1px solid $inputgroup-border-color;

  & + & {
    margin-top: $inputgroup-gutter;
  }

  &__addon {
    padding: $inputgroup-addon-padding;
    background-color: $inputgroup-background-color;
    color: $inputgroup-color;
    align-items: center;
    display: flex;
    line-height: 1;
    border-left: 1px solid $inputgroup-border-color;

    input[type="checkbox"] + label, 
    input[type="radio"] + label {
      text-indent: -9999px;
      padding-right: 14px;
      line-height: 1;
      position: relative;
      bottom: 2px;
    }

    select {
      border: 0 none;
      height: auto;
    }

    &--clear {
      background: transparent;
      border-left: 0 none;
      
    }

    button {
      border: 0 none;
      font-family: "mfw_protocolharel", Arial;
      line-height: 1;
      background-color: transparent;
      font-size: 15px; 
      cursor: pointer;
      position: relative;
      color: #444;

      &:before {
        content: "";
        height: 1px;
        position: absolute;
        bottom: -2px;
        left: 20%;
        right: 20%;
        background-color: #d2d2d2;
        transition: all 200ms ease-in-out;
      }  

      &:hover:before {
        background-color: #9a9a9a;
      }  
    }
  }

  textarea, select, input[type]:not([type="checkbox"]):not([type="radio"]) {
    flex: 1 1 auto;
    width: 1%;
    border: 0 none;
  }

  textarea ~ .h-group__addon, 
  select ~ .h-group__addon, 
  input ~ .h-group__addon {
    border-left: 0 none;
    border-right: 1px solid $inputgroup-border-color;
  }
  
  textarea ~ .h-group__addon--clear, 
  select ~ .h-group__addon--clear, 
  input ~ .h-group__addon--clear {
    border-right: 0 none;
  }
}