/**************************************************************
  Name: List
  Description: Defines styles for list

  Component:
  .h-list

  Modifiers:
  .h-list--number
  .h-list--inline
  .h-list--nospace
  .h-list--bigspace
  .h-list--line
  .h-list--bullet
**************************************************************/


// Imports
@import "../variables/global";


// Variables
$list-padding-right: 20px;
$list-space: $global-spacing-xsmall;
$list-space-big: $global-spacing-small;
$list-line-color: #ebebeb;


// Component
.h-list {
  padding: 0;
  list-style: none;

  &--number {
    padding-right: 1em;
    list-style: decimal;
  }

  & ul {
    margin: 0;
    padding-right: $list-padding-right;
    list-style: none;
  }

  & > li {
    padding-bottom: $list-space;
    margin-bottom: $list-space;

    &:last-child {
      padding-bottom: 0;
      margin-bottom: 0;
    }
  }

  /* modifier: inline list */
  &--inline {
    display: flex;
    flex-wrap: wrap;

    & > li {
      padding-bottom: 0;
      margin-bottom: 0;
      padding-left: $list-space;
      margin-left: $list-space;

      &:last-child {
        padding-left: 0;
        margin-left: 0;
      }
    }
  }

  /* modifiers: space */
  &--nospace:not(&--inline) > li {
    padding-bottom: 0;
    margin-bottom: 0;
  }

  &--inline#{&}--nospace > li {
    padding-left: 0;
    margin-left: 0;
  }

  &--bigspace:not(&--inline) > li {
    padding-bottom: $list-space-big;
    margin-bottom: $list-space-big;
  }

  &--inline#{&}--bigspace > li {
    padding-left: $list-space-big;
    margin-left: $list-space-big;
  }

  /* modifier: line */
  &--line > li {
    border-bottom: 1px solid $list-line-color;

    &:last-child {
      border-bottom: 0 none;
    }
  }

  &--inline#{&}--line > li {
    border-bottom: 0 none;
    border-left: 1px solid $list-line-color;

    &:last-child {
      border-left: 0 none;
    }
  }

  /* modifier: bullet */
  &--bullet {
    & > li {
      position: relative;
      padding-right: 14px;

      &:before {
        content: "";
        position: absolute;
        top: 7px;
        right: 0;
        height: 6px;
        width: 6px;
        background-color: #003f80;
      }
    }
  }
}
