/**************************************************************
  Name: Modal
  Description: Style needed to open modal window

  Component:
  .h-modal

  Modifiers:
  .h-modal--small
  .h-modal--large
  .h-modal--xlarge
**************************************************************/


// Imports
@import "../variables/colors";
@import "../variables/breakpoints";
@import "../variables/zindex";


// Variables
$modal-background: rgba(9, 30, 66, 0.54);
$modal-dialong-top: 60px;
$modal-dialog-height: calc(100% - 119px);
$modal-dialog-max-width: calc(100% - 120px);
$modal-dialog-breakpoint-small-max-width: calc(100% - 40px);
$modal-dialog-width: 600px;
$modal-dialog-width-small: 400px;
$modal-dialog-width-large: 800px;
$modal-dialog-width-xlarge: 960px;
$modal-dialog-border-radius: 0;
$modal-dialog-background: #fff;
$modal-dialog-box-shadow:  rgba(9, 30, 66, 0.0784314) 0px 0px 0px 1px, rgba(9, 30, 66, 0.0784314) 0px 2px 1px, rgba(9, 30, 66, 0.309804) 0px 0px 20px -6px;
$modal-header-color: #fff;
$modal-header-padding: 20px 20px 14px 20px;
$modal-body-padding: 20px;
$modal-footer-padding: 14px 20px 20px 20px;
$modal-footer-box-shadow: rgb(235, 236, 240) 0px -2px 0px 0px;
$modal-title-font-size: 22px;


// Component
.h-modal {
  $component: &;

  transition: opacity 250ms ease-in-out;

  &__bg {
    background-color: $modal-background;
    bottom: 0;
    left: 0;
    opacity: 1;
    pointer-events: initial;
    position: fixed;
    right: 0;
    top: 0;
    transition: opacity 220ms;
    z-index: $z-index-modal-bg;
  }

  &__position {
    display: flex;
    flex-direction: column;
    height: $modal-dialog-height;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: $modal-dialog-max-width;
    position: absolute;
    right: 0;
    width: $modal-dialog-width;
    z-index: $z-index-modal-dialog;
    transition: transform 500ms cubic-bezier(0.23, 1, 0.32, 1);
    top: $modal-dialong-top;

    @media (max-width: $breakpoint-small) {
      max-width: $modal-dialog-breakpoint-small-max-width;
    }
  }

  &__dialog {
    background-color: $modal-dialog-background;
    border-radius: $modal-dialog-border-radius;
    box-shadow: $modal-dialog-box-shadow;
    display: flex;
    flex-direction: column;
    height: auto;
    max-height: calc(100% - 1px);
    outline-width: 0;
  }

  &__content {
    display: flex;
    flex-direction: column;
    max-height: calc(100% - 1px);
    flex: 1 1 auto;
  }

  &__title,
  &__footer,
  &__actions {
    align-items: center;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    flex: 0 0 auto;
    transition: box-shadow 200ms;
  }

  &__header {
    box-shadow: none;
    padding: $modal-header-padding;
    background-color: $color-primary-1;
    color: $modal-header-color;
  }

  &__close {
    background-color: transparent;
    border: 0 none;
    cursor: pointer;
    height: 24px;
    width: 24px;
    padding: 0;
    margin: 0;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23fff' d='M12 10.586L6.707 5.293a1 1 0 0 0-1.414 1.414L10.586 12l-5.293 5.293a1 1 0 0 0 1.414 1.414L12 13.414l5.293 5.293a1 1 0 0 0 1.414-1.414L13.414 12l5.293-5.293a1 1 0 1 0-1.414-1.414L12 10.586z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    overflow: hidden;
    text-indent: 100%;
    margin-bottom: 1px;
  }

  &__title {
    font-size: $modal-title-font-size;

    + div {
      margin-top: 20px;
    }
  }

  &__body {
    overflow-y: auto;
    overflow-x: hidden;
    flex: 1 1 auto;
    padding: $modal-body-padding;
  }

  &__footer {
    box-shadow: $modal-footer-box-shadow;
    padding: $modal-footer-padding;

    @media (max-width: $breakpoint-small) {
      flex-direction: column;
    }
  }

  &__actions {
    @media (max-width: $breakpoint-small) {
      margin-top: $global-spacing-small;
      align-self: flex-end;
    }
  }

  &__action {
    flex: 1 0 auto;
    margin: 0px 4px;
  }

  // Modifier: size small
  &--small {
    #{$component}__position {
      width: $modal-dialog-width-small;
    }
  }

  // Modifier: size large
  &--large {
    #{$component}__position {
      width: $modal-dialog-width-large;
    }
  }

  // Modifier: size xlarge
  &--xlarge {
    #{$component}__position {
      width: $modal-dialog-width-xlarge;
    }
  }
}
