/**************************************************************
  Name: Multi
  Description: Defines styles multi select component with chips

  Component:
  .h-multi

  Modifiers:
  .h-multi--empty

  States:
  .is-open
**************************************************************/


// Imports
@import "../variables/global";
@import "../variables/zindex";
@import "../variables/colors";


// Mixins
// focus style
@mixin focus-style($color: $color-primary-1) {
  box-shadow: 0 0 0 3px rgba($color, .2);
  outline: 1px solid transparent;
}


// Variables
$multi-padding: 2px 6px 2px 26px;
$multi-border-color: rgba($color-primary-1, .3);



// Component
.h-multi {
  $component: &;

  position: relative;
  display: block;
	max-width: 100%;
	width: 100%;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  font-weight: normal;

  &__label {
    color: $color-primary-1;
  }

  &__items {
	  padding: $multi-padding;
    border: 1px solid $multi-border-color;
    background: #fff;
    min-height: 40px;
    position: relative;
    cursor: pointer;

    &:after {
      content: "";
      display: block;
      height: 12px;
      width: 12px;
      border-bottom: 1px solid $color-link;
      border-left: 1px solid $color-link;
      transform: rotate(-45deg);
      transform-origin: center;
      position: absolute;
      left: 6px;
      top: 50%;
      margin-top: -10px;
    }

    &:focus {
      @include focus-style;
    }
  }

  &__item {
    font-family: "mfw_protocolharel", Arial;
    line-height: 1.5;
    border: 0 none;
    color: $color-primary-3;
    padding: 4px;
    padding-left: 20px;
    position: relative;
    margin: 2px;
    background-color: rgba($color-primary-1, .08);
    cursor: pointer;

    &:focus {
      @include focus-style;
    }

    &:before,
    &:after {
      content: "";
      display: block;
      width: 1px;
      height: 8px;
      background-color: $color-primary-1;
      position: absolute;
      top: 50%;
      margin-top: -4px;
      left: 8px;
    }

    &:before {
      transform: rotate(45deg);
    }

    &:after {
      transform: rotate(-45deg);
    }

    &--empty {
      padding: $global-spacing-xsmall 0;
      margin: 2px 0;
      display: inline-block;
      color: rgb(117, 117, 117);
      user-select: none;
    }
  }

  &__options {
    position: absolute;
    top: 100%;
    z-index: 1010;
    width: 100%;
    border: 1px solid #aaa;
    border-top: 0;
    background: #fff;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
    display: none;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 240px;
    color: $color-base;
    background-color: #F6F6F6;

    &item {
      padding: 4px 20px 4px 8px;
      position: relative;
      line-height: 1.1;
      cursor: pointer;

      &.is-selected {
        color: $color-primary-1;

        &:before {
          content: "";
          display: block;
          position: absolute;
          right: 6px;
          top: 50%;
          margin-top: -4px;
          height: 4px;
          width: 8px;
          border-left: 2px solid $color-primary-1;
          border-bottom: 2px solid $color-primary-1;
          transform: rotate(-45deg);
        }
      }

      &.is-active,
      &:hover {
        background-color: rgba($color-primary-1, .1)
      }

      &.is-disabled {
        color: #bbbbbb;
        cursor: not-allowed;
        background-color: #f6f6f6;
      }
    }
  }

  select[multiple] {
    appearance: none;
    background: none;
    padding: 0;
    margin: 0;
    border: 0 none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    z-index: $z-index-multi-select;
  }

  // State: open
  &.is-open {
    #{$component}__options {
      display: block;
    }

    #{$component}__items {
      &:after {
        transform: rotate(-225deg);
        margin-top: -3px;
      }
    }
  }
}
