/**************************************************************
  Name: Pagination
  Description: Defines styles for pagination

  Component:
  .h-page

  Modifiers:
**************************************************************/


// Imports
@import "../variables/colors";
@import "../variables/breakpoints";


// Variables
$pagination-color: $color-link;
$pagination-link-padding: 8px 12px;
$pagination-text-padding: 8px 2px;
$pagination-text-color: #999;
$pagination-link-focus-background-color: #f9f9f9;
$pagination-current-background-color: #f2f2f3;
$pagination-transition-time: 200ms;


/*** Component: Pagination ***/
.h-pagin {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  line-height: 1;
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    margin: 0 4px;

    @media (max-width: $breakpoint-small) {
      &:not(.h-pagin__prev):not(.h-pagin__next):not(.h-pagin__current) {
        display: none;
      }
    }
  }

  a {
    text-decoration: none;
    display: inline-block;
    padding: $pagination-link-padding;
    color: $pagination-color;
    border-bottom: 1px solid #fff;

    &:hover,
    &:focus {
      background-color: $pagination-link-focus-background-color;
      border-bottom: 1px solid currentColor;
    }

    &.is-disable {
      cursor: text;
      color: #bbb;
      pointer-events: none;
    }
  }

  span {
    display: inline-block;
    color: $pagination-text-color;
    padding: $pagination-text-padding;
  }

  &__current > a {
    background-color: $pagination-current-background-color;

    &:hover,
    &:focus {
      background-color: $pagination-current-background-color !important;
    }
  }

  &__prev > a,
  &__next > a {
    position: relative;

    &:hover,
    &:focus {
      background-color: transparent;
      border-bottom: 0 none;
    }
    
    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 11px;
      height: 8px;
      width: 8px;
      border-left: 2px solid currentColor;
      border-bottom: 2px solid currentColor;
      transition: all $pagination-transition-time ease-in-out;
    }
  }

  &__prev > a {
    padding-right: 14px;

    &:before {
      right: 2px;
      transform: rotate(225deg);
    }

    &:not(.is-disable):hover:before,
    &:not(.is-disable):focus:before {
      transform: translateX(2px) rotate(225deg) ;
    }
  }

  &__next > a {
    padding-left: 14px;

    &:before {
      left: 2px;
      transform: rotate(45deg);
    }

    &:not(.is-disable):hover:before,
    &:not(.is-disable):focus:before {
      transform: translateX(-2px) rotate(45deg) ;
    }
  }
  
}