/**************************************************************
  Name: Panel
  Description: Defines styles for panels

  Component:
  .h-panel

  Modifiers:
  .h-panel--light
  .h-panel--secondary
  .h-panel--primary
  .h-panel--dark
**************************************************************/


// Imports
@import "../variables/colors";


// Variables
$panel-background: transparent;
$panel-color: inherit;
$panel-padding: 16px;

$panel-light-background: #fff;
$panel-primary-background: $color-gray;
$panel-secondary-background: $color-primary-5;
$panel-dark-background: $color-primary-1;
$panel-dark-color: #fff;


// Component
.h-panel {
	display: block;
	background-color: $panel-background;
	padding: $panel-padding;

  // Modifier: light
  &--light {
    background-color: $panel-light-background;
  }

  // Modifier: primary
  &--primary {
    background-color: $panel-primary-background;
  }

  // Modifier: secondary
  &--secondary {
    background-color: $panel-secondary-background;
  }

  // Modifier: dark
  &--dark {
    background-color: $panel-dark-background;
    color: $panel-dark-color;
  }
}
