/**************************************************************
  Name: Popover
  Description: Define styles for popover

  Component:
  .h-popover

  Modifiers:
  .h-popover--top
  .h-popover--right
  .h-popover--bottom
  .h-popover--left
  .h-popover--light

  States:
  .is-visible
**************************************************************/


// Imports
@import "../variables/colors";
@import "../variables/zindex";
@import "../variables/global";


// Variables
$popover-height: 4px;
$popver-max-width: 384px;
$popover-border-radius: 2px;
$popover-link-color: #0e96ef;
$popover-arrow-size: 8px;
$popover-margin-size: 16px;
$popover-light-color: #fbfbfb;
$popover-light-text-color: rgba(0, 0, 0, 0.54);
$popover-dark-color: #19212b;
$popover-dark-text-color: rgba(255, 255, 255, 0.7);


// Component
.h-popover {
  padding: $global-spacing-medium;
  position: absolute;
  margin-top: 0;
  border-radius: $popover-border-radius;
  background-color: $popover-dark-color;
  color: $popover-dark-text-color;
  z-index: $z-index-popover;
  visibility: hidden;
  // filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.3)); // no ie support for filter :(
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.3);
  transition: opacity .15s ease 0.1s, visibility 0s linear 0.25s;
  opacity: 0;
  max-width: $popver-max-width;
  word-break: break-word;

  a {
    color: $popover-link-color;
  }

  &.is-visible {
    visibility: visible;
    opacity: 1;
  }

  &:before {
    position: absolute;
    display: block;
    content: '';
    width: 0;
    height: 0;
    border: $popover-arrow-size solid transparent;
  }

  &--left {
    margin-right: $popover-margin-size;

    &:before {
      right: (0 - $popover-margin-size);
      border-left: $popover-arrow-size solid $popover-dark-color;
    }

    &.h-popover--light:before {
      border-left-color: $popover-light-color;
    }
  }

  &--right {
    margin-left: $popover-margin-size;

    &:before {
      left: (0 - $popover-margin-size);
      border-right: $popover-arrow-size solid $popover-dark-color;
    }

    &.h-popover--light:before {
      border-right-color: $popover-light-color;
    }
  }

  &--top {
    margin-bottom: $popover-margin-size;

    &:before {
      bottom: (0 - $popover-margin-size);
      border-top: $popover-arrow-size solid $popover-dark-color;
    }

    &.h-popover--light:before {
      border-top-color: $popover-light-color;
    }
  }

  &--bottom {
    margin-top: $popover-margin-size;

    &:before {
      top: (0 - $popover-margin-size);
      border-bottom: $popover-arrow-size solid $popover-dark-color;
    }

    &.h-popover--light:before {
      border-bottom-color: $popover-light-color;
    }
  }

  &--light {
    background-color: $popover-light-color;
    color: $popover-light-text-color;
  }
}
