/**************************************************************
  Name: Progress
  Description: Define styles for progress bar

  Component:
  .h-progress

  Modifiers:
  .h-progress--global

  States:
  .is-indeterminate
**************************************************************/


// Imports
@import "../variables/colors";
@import "../variables/zindex";


// Variables
$progress-height: 4px;
$progress-border-radius: 2px;


// Component
.h-progress {
  $component: &;

  position: relative;
  height: $progress-height;
  display: block;
  width: 100%;
  background-color: rgba($color-primary-1, 0.3);
  border-radius: $progress-border-radius;
  overflow: hidden;
  z-index: $z-index-progress;

  // Modifier: global position on top
  &--global {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
  }

  &:not(.is-indeterminate) {
    #{$component}__fill {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      transition: width .3s linear;
      width: 0%;
    }
  }

  &__fill {
    background-color: rgba($color-primary-1, 0.9);
  }

  &.is-indeterminate {
    #{$component}__fill {
      &:before,
      &:after {
        content: '';
        position: absolute;
        background-color: inherit;
        top: 0;
        left: 0;
        bottom: 0;
        will-change: left, right;
      }

      &:before {
        animation: progress-indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
        animation-direction: reverse;
      }

      &:after {
        animation: progress-indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
        animation-delay: 1.8s;
        animation-direction: reverse;
      }
    }
  }
}


@keyframes progress-indeterminate {
    0% {
        left: -35%;
        right: 100%
    }

    60% {
        left: 100%;
        right: -90%
    }

    100% {
        left: 100%;
        right: -90%
    }
}

@keyframes progress-indeterminate-short {
    0% {
        left: -200%;
        right: 100%
    }

    60% {
        left: 107%;
        right: -8%
    }

    100% {
        left: 107%;
        right: -8%
    }
}
