/**************************************************************
  Name: Spinner
  Description: Define styles for spinner

  Component:
  .h-spinner

  Modifiers:
  .h-spinner--light
  .h-spinner--medium
  .h-spinner--large

**************************************************************/


// Imports
@import "../variables/colors";
@import "../variables/zindex";


// Variables
$spinner-height: 1em;
$spinner-width: 1em;
$spinner-speed: 1.4s;
$spinner-stroke-width: 6px;


// Component
.h-spinner {
  $component: &;

  animation: spinner-rotator $spinner-speed linear infinite;
  height: $spinner-height;
  width: $spinner-width;
  display: inline-block;

  &__svg {
    height: 100%;
    width: 100%;
  }

  &__path {
    stroke-dasharray: 187;
    stroke-dashoffset: 0;
    stroke-width: $spinner-stroke-width;
    stroke-linecap: round;
    transform-origin: center;
    animation: spinner-dash $spinner-speed ease-in-out infinite;
    fill: none;
    stroke: rgba($color-primary-1, 0.7);
    z-index: $z-index-spinner;
  }

  &--light {
    #{$component}__path {
      stroke: rgba(#fff, 0.9);
    }
  }

  &--medium {
    height: 2em;
    width: 2em;
  }

  &--large {
    height: 4em;
    width: 4em;
  }
}

@keyframes spinner-rotator {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(270deg);
  }
}

@keyframes spinner-dash {
  0% {
    stroke-dashoffset: 187;
  }

  50% {
    stroke-dashoffset: 46;
    transform: rotate(135deg);
  }

  100% {
    stroke-dashoffset: 187;
    transform: rotate(450deg);
  }
}
