/**************************************************************
  Name: Stepper
  Description: Stepper component that represents the app steps

  Component:
  .h-stepper

  Modifier:
  .h-stepper--light

  State:
  .is-active
**************************************************************/


// Imports
@import "../variables/colors";
@import "../variables/breakpoints";


// Variables
$stepper-knob-font-size: 0.9rem;
$stepper-knob-size: 24px;
$stepper-knob-small-resolution-size: 30px;
$stepper-knob-background-color: rgba(0, 63, 128, 0.2);
$stepper-knob-color: #fff;
$stepper-knob-focus-color: rgba(0, 63, 128, 0.4);
$stepper-seperator-color: rgba($color-primary-1, 0.2);
$stepper-subtitle-color: rgba($color-base, 0.8);
$stepper-subtitle-font-size: 0.8rem;

$stepper-light-title-color: #fff;
$stepper-light-subtitle-color: rgba(#fff, 0.8);
$stepper-light-seperator-color: rgba(255, 255, 255, 0.3);
$stepper-light-knob-background-color: rgba(255, 255, 255, 0.3);
$stepper-light-active-item-knob-background-color: #fff;
$stepper-light-active-item-knob-color: #2196f3;
$stepper-light-knob-focus-color: rgba(255, 255, 255, 0.4);



// Component
.h-stepper {
  $component: &;

  display: flex;
  flex-direction: row;
  position: relative;

  @media screen and (min-width: $breakpoint-medium) {
    justify-content: flex-start;
  }

  &__item {
    display: flex;
    flex-direction: row;
    flex: 0 1 auto;
    min-width: 0;
    color: $color-base;
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }

    &:focus {
      outline: 1px solid transparent;

      #{$component}__knob {
        box-shadow: 0 0 0 3px $stepper-knob-focus-color;
      }
    }

    @media screen and (min-width: $breakpoint-medium) {
      &:not(:first-child) #{$component}__seperator {
        background-color: $stepper-seperator-color;
        flex: 0 1 auto;
        height: 1px;
        min-width: 0;
        position: relative;
        top: 10px;
        width: $global-spacing-xxlarge;
      }
    }

    @media screen and (max-width: $breakpoint-medium) {
      margin-bottom: $global-spacing-xlarge;
    }

    // State: active
    &.is-active {
      #{$component}__title {
        font-weight: bold;
      }

      #{$component}__knob {
        background-color: $color-primary-1;
        color: #fff;
      }

      #{$component}__info {
        @media screen and (max-width: $breakpoint-medium) {
          position: absolute;
          right: 0;
          left: 0;
          bottom: 0;
          display: block;
          height: 1.5em;
        }
      }
    }
  }

  &__item + &__item {
    padding-right: $global-spacing-small;
  }

  // step knob (numbers or text)
  &__knob {
    @media screen and (min-width: $breakpoint-medium) {
      margin-right: $global-spacing-small;
      height: $stepper-knob-size;
      line-height: $stepper-knob-size;
      width: $stepper-knob-size;
    }

    border-radius: 50%;
    flex: 0 0 auto;
    font-size: $stepper-knob-font-size;
    font-weight: bold;
    height: $stepper-knob-small-resolution-size;
    line-height: $stepper-knob-small-resolution-size;
    width: $stepper-knob-small-resolution-size;
    position: relative;
    text-align: center;
    background-color: $stepper-knob-background-color;
    color: $stepper-knob-color;
  }

  // step info
  &__info {
    @media screen and (min-width: $breakpoint-medium) {
      padding-right: $global-spacing-small;
      padding-top: 1px; // vertical align text with knob
    }

    @media screen and (max-width: $breakpoint-medium) {
      display: none;
    }
  }

  // step title and subtitle
  &__title,
  &__subtitle {
    font-weight: 300;
  }

  &__subtitle {
    @media screen and (max-width: $breakpoint-medium) {
      display: none;
    }

    color: $stepper-subtitle-color;
    font-size: $stepper-subtitle-font-size;
  }

  // Modifier: light
  &--light {
    #{$component}__title {
      color: $stepper-light-title-color;
    }

    #{$component}__subtitle {
      color: $stepper-light-subtitle-color;
    }

    @media screen and (min-width: $breakpoint-medium) {
      #{$component}__item:not(:first-child) #{$component}__seperator {
        background-color: $stepper-light-seperator-color;
      }
    }

    #{$component}__knob {
      background-color: $stepper-light-knob-background-color;
    }

    #{$component}__item.is-active {
      #{$component}__knob {
        background-color: $stepper-light-active-item-knob-background-color;
        color: $stepper-light-active-item-knob-color;
      }
    }

    #{$component}__item:focus {
      #{$component}__knob {
        box-shadow: 0 0 0 3px $stepper-light-knob-focus-color;
      }
    }
  }
}
