/**************************************************************
  Name: Switch
  Description: Defines styles for form switch (toggle)

  Component:
  .h-switch

  States:
  .is-danger
**************************************************************/


// Imports
@import "../variables/global";
@import "../variables/zindex";
@import "../variables/colors";


// Variables
$switch-background-color: #eee;
$switch-border-color: #e2e2e2;
$switch-color: #585858;
$switch-height: 40px;


// Component
// inspired by https://ghinda.net/css-toggle-switch/
.h-switch {
	position: relative;
	background-color: $switch-background-color;
	border: 1px solid $switch-border-color;
  display: flex;
  flex-flow: row wrap;

	label {
		line-height: 2em;
		vertical-align: middle;
		display: inline-block;
		cursor: pointer;
		color: $switch-color;
    font-weight: normal;
    text-align: center;
    overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		height: $switch-height;
		line-height: $switch-height;
    flex: 1 1 0%;
	}

	input {
		position: absolute;
		left: 0;
		opacity: 0;
	}

  input[type="radio"] + label:before,
  input[type="radio"] + label:after {
    display: none;
  }

	input + label {
		position: relative;
		z-index: $z-index-switch-label;
		display: block;
		float: right;
		padding: 0 $global-spacing-small;
		margin: 0;
		text-align: center;
		border-right: 1px solid #ddd;
	}

	input:first-child + label {
		border-right: 0 none;
	}

	input:checked + label {
		color: #fff;
    background-color: $color-link;

    &:hover {
      background-color: $color-link;
    }
	}

	input:focus + label {
		outline-width: 2px;
		outline-style: solid;
		outline-color: Highlight;
	}

	input:hover + label {
		background-color: #ddd;
	}

  &--small {
    width: 120px;
  }
}
