/**************************************************************
  Name: Switch
  Description: Defines styles for form switch (toggle)

  Component:
  .h-switch

  States:
  .is-danger
**************************************************************/


// Imports
@import "../variables/global";
@import "../variables/colors";


// Mixins
// focus style
@mixin focus-style($color: $color-primary-1) {
  box-shadow: 0 0 0 3px rgba($color, .2);
  outline: 1px solid transparent;
}


// Variables
$switch-width: 36px;
$switch-height: 22px;
$switch-transition-time: 75ms;


// Component
.h-switch {
  $component: &;

  display: inline-flex;
  align-items: center;

  &__text:first-child {
    margin-left: $global-spacing-small;
  }

  &__text:last-child {
    margin-right: $global-spacing-small;
  }

  &__slider {
    box-sizing: border-box;
    width: $switch-width;
    min-width: $switch-width;
    height: $switch-height;
    border-radius: 30px;
    background-color: rgba(32, 37, 50, 0.14);
    box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    display: inline-block;
    position: relative;
    cursor: pointer;

    &:before {
      content: '';
      transition: transform $switch-transition-time ease-in-out;
      display: block;
      width: 18px;
      height: 18px;
      background-color: #fff;
      box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.25), 0 2px 8px 0 rgba(32, 37, 50, 0.16);
      position: absolute;
      border-radius: 100%;
      top: 11px;
      transform: translate(-16px, -50%);
    }
  }

  input[type="checkbox"] {
    &:disabled {
      & + #{$component}__slider {
        cursor: not-allowed;

        &:before {
          background-color: rgba(32, 37, 50, 0.14);
        }
      }
    }

    &:checked:not(:disabled) {
      & + #{$component}__slider {
        background-color: rgba($color-primary-1, 0.9);
      }
    }

    &:checked {
      & + #{$component}__slider:before {
        transform: translate(-2px, -50%);
      }
    }

    &:focus {
      & + #{$component}__slider {
        @include focus-style;
      }
    }
  }

  // State: danger
  &.is-danger {
    #{$component}__slider {
      box-shadow: inset 0 1px 3px 12px rgba($color-danger, 0.2);

      &:before {
        background-color: $color-danger;
      }
    }

    input[type="checkbox"] {
      &:checked + #{$component}__slider {
        background-color: rgba($color-danger, 0.6);
      }

      &:focus + #{$component}__slider {
        @include focus-style($color-danger);
      }
    }

  }
}
