/**************************************************************
  Name: Table
  Description: Defines design for tables

  Component:
  .h-table
**************************************************************/


// Imports
@import "../variables/colors";
@import "../variables/breakpoints";


// Variables
$table-padding: 8px;
$table-caption-font-size: 0.9rem;
$table-caption-color: #999;
$table-border-color: #cfd3df;
$table-foot-background: #ececec;
$table-foot-border-color: #888;


// Component
.h-table {
  width: 100%;

	th,
	td {
		padding: $table-padding;
    vertical-align: top;
    border-right: 1px solid $table-border-color;
    border-bottom: 1px solid $table-border-color;

    &:first-child {
      border-right: 0 none;
    }
	}

  tr:last-child > td {
    border-bottom: 0 none;
  }

	th {
    text-align: right;
 		background-color: $color-primary-5;
 		color: $color-primary-1;
 		vertical-align: top;
 		border-bottom: 0 none;
  }

	caption {
		font-size: $table-caption-font-size;
		font-style: italic;
		text-align: right;
		color: $table-caption-color;
	}

 	tfoot td {
 		background-color: $table-foot-background;
 		border-top: 1px solid $table-foot-border-color;
 		font-weight: bold;
 		font-style: normal;
 	}

  // Modifier: Responsive table
  // TODO: find better solution
  &--responsive {
    /* autoprefixer: off */
    overflow-x: auto;
    // background-image: -webkit-linear-gradient(left, #ffffff, rgba(255, 255, 255, 0)), -webkit-linear-gradient(right, #ffffff, rgba(255, 255, 255, 0)), -webkit-linear-gradient(left, #c3c3c5, rgba(195, 195, 197, 0)), -webkit-linear-gradient(right, #c3c3c5, rgba(195, 195, 197, 0));
    // background-image: linear-gradient(left, #ffffff, rgba(255, 255, 255, 0)), linear-gradient(right, #ffffff, rgba(255, 255, 255, 0)), linear-gradient(left, #c3c3c5, rgba(195, 195, 197, 0)), linear-gradient(right, #c3c3c5, rgba(195, 195, 197, 0));
    // background-position: 0 0, 100% 0, 0 0, 100% 0;
    // background-repeat: no-repeat;
    // background-color: #fff;
    // background-size: 4em 100%, 4em 100%, 6px 100%, 6px 100%;
    // background-attachment: local, local, scroll, scroll;
    // direction: ltr;

    & > table {
      direction: rtl;
      margin-bottom: 0;
    }
  }

  // Modifiers: Aligns
  &--middle {
    &,
    & td,
    & th {
      vertical-align: middle !important;
    }
  }
}
