/**************************************************************
  Name: Tooltip
  Description: Define styles for tooltip

  Component:
  .h-tooltip

  Modifiers:

  States:
**************************************************************/


// Imports
@import "../variables/colors";
@import "../variables/zindex";
@import "../variables/global";


// Variables
$tooltip-background-color: rgb(23, 43, 77);
$tooltip-color: #fff;
$tooltip-line-height: 1.3;
$tooltip-max-width: 240px;


// Component
.h-tooltip {
  background-color: $tooltip-background-color;
  color: $tooltip-color;
  line-height: $tooltip-line-height;
  max-width: $tooltip-max-width;
  display: inline-block;
  word-wrap: break-word;
  overflow-wrap: break-word;
  padding: $global-spacing-xsmall $global-spacing-small;
  border-radius: $global-spacing-xsmall;
  font-size: 0.8rem;
  position: fixed;
  pointer-events: none;
  user-select: none;
  z-index: $z-index-tooltip;
  opacity: 0;
  transition: transform 120ms cubic-bezier(0.23, 1, 0.32, 1), opacity 120ms linear;
  transform: translate3d(0, 0, 0);
}
