/**************************************************************
  Name: Top
  Description: Layout static top that appears is app is outside of portal

  Component:
  .h-top
**************************************************************/


// Imports
@import "../variables/colors";


// Variables
$top-height: 44px;
$top-color: #fff;
$top-logo-height: 30px;
$top-logo-width: 90px;


// Component
.h-top {
  position: relative;
  height: $top-height;
  background-color: $color-primary-1;
  color: $top-color;

  &__logo {
    height: $top-height;
    width: $top-logo-width;
    position: relative;
    float: left;
    overflow: hidden;
    text-indent: (-100-$top-logo-width);

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-image: url("/assets/images/logo.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}
