/**************************************************************
  Name: Base
  Description: Sets default values for HTML elements

  Components:
  h-h* - headers
**************************************************************/


// Imports
@import "../variables/colors";
@import "../variables/global";


// Variables
$base-background: #ddd;
$base-font-weight: normal;
$base-link-transition-time: 300ms;
$base-em-color: #D05;
$base-ins-background: #ffa;
$base-ins-color: #444;
$base-mark-background: #ffa;
$base-mark-color: #444;
$base-selection-background: #39f;
$base-selection-color: #fff;
$base-header1-font-size: 36px;
$base-header2-font-size: 28px;
$base-header3-font-size: 24px;
$base-header4-font-size: 20px;
$base-header5-font-size: 18px;
$base-header6-font-size: 12px;


// Component
html {
  font-size: $global-font-size;
  line-height: $global-line-height;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
	background-color: $base-background;
	font-family: $global-font-family;
	font-weight: $base-font-weight;
	line-height: $global-line-height;
	color: $color-base;
}

a,
area,
button,
[role="button"],
input:not([type=range]),
label,
select,
summary,
textarea {
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}


// Spacing for block elements
p,
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: $global-spacing-medium;

  &:last-child {
    margin-bottom: 0;
  }
}


// special elements
code {
  direction: ltr;
  display: inline-block;
}

// Text-level semantics
// Links
a {
	color: $color-link;
	text-decoration: none;

	&:hover {
		color: darken( $color-link, 10% );
		text-decoration: underline;
	}
}


// Emphasize
em { color: $base-em-color; }

// Insert
ins {
	background: $base-ins-background;
	color: $base-ins-color;
	text-decoration: none;
}

// Mark
// Note: Addresses styling not present in IE 8/9.
mark {
	background: $base-mark-background;
	color: $base-mark-color;
}

// Selection highlight
::-moz-selection {
	background: $base-selection-background;
	color: $base-selection-color;
	text-shadow: none;
}

::selection {
	background: $base-selection-background;
	color: $base-selection-color;
	text-shadow: none;
}

// Abbreviation and definition
abbr[title],
dfn[title] {
	cursor: help;
}

dfn[title] {
	border-bottom: 1px dotted;
	font-style: normal;
}


// Embedded content
img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

// Preserve google maps original image dimensions
img[src*="maps.gstatic.com"],
img[src*="googleapis.com"] {
	max-width: none;
}


// Headings
h1, h2, h3, h4, h5, h6 { font-weight: normal; }
h1 { font-size: $base-header1-font-size }
h2 { font-size: $base-header2-font-size }
h3 { font-size: $base-header3-font-size }
h4 { font-size: $base-header4-font-size }
h5 { font-size: $base-header5-font-size }
h6 { font-size: $base-header6-font-size }


// Iframe
iframe { border: 0; }


// Taken from reboot.scss bootstrap 4
// IE10+ doesn't honor `<meta name="viewport">` in some cases.
@-ms-viewport {
  width: device-width;
}

// Shim for "new" HTML5 structural elements to display correctly (IE10, older browsers)
article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

// Suppress the focus outline on elements that cannot be accessed via keyboard.
// This prevents an unwanted focus outline from appearing around elements that
// might still respond to pointer events.
//
// Credit: https://github.com/suitcss/base
[tabindex="-1"]:focus {
  outline: 0 !important;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol:last-child,
ul:last-child,
dl:last-child {
  margin-bottom: 0;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

// Add the correct font size in all browsers
small {
  font-size: 80%;
}

// Prevent `sub` and `sup` elements from affecting the line height in all browsers.
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub { bottom: -.25em; }
sup { top: -.5em; }


//
// Links
//

a {
  background-color: transparent; // Remove the gray background on active links in IE 10.
  -webkit-text-decoration-skip: objects; // Remove gaps in links underline in iOS 8+ and Safari 8+.
}

// And undo these styles for placeholder links/named anchors (without href)
// which have not been made explicitly keyboard-focusable (without tabindex).
// It would be more straightforward to just use a[href] in previous block, but that
// causes specificity issues in many other styles that are too complex to fix.
a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;

  &:hover,
  &:focus {
    color: inherit;
    text-decoration: none;
  }

  &:focus {
    outline: 0;
  }
}


//
// Images and content
//

img {
  vertical-align: middle;
  border-style: none; // Remove the border on images inside links in IE 10-.
}

svg:not(:root) {
  overflow: hidden; // Hide the overflow in IE
}


//
// Tables
//

table {
  border-collapse: collapse; // Prevent double borders
}

caption {
  caption-side: top;
}

th {
  // Matches default `<td>` alignment by inheriting from the `<body>`, or the
  // closest parent with a set `text-align`.
  text-align: inherit;
}


//
// Forms
//

// Remove the default `border-radius` that macOS Chrome adds.
button {
  border-radius: 0;
}

// Work around a Firefox/IE bug where the transparent `button` background
// results in a loss of the default `button` focus styles.
//
// Credit: https://github.com/suitcss/base/
button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0; // Remove the margin in Firefox and Safari
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input {
  overflow: visible; // Show the overflow in Edge
}

button,
select {
  text-transform: none; // Remove the inheritance of text transform in Firefox
}

// Remove inner border and padding from Firefox, but don't restore the outline like Normalize.
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

input[type="radio"],
input[type="checkbox"] {
  box-sizing: border-box; // 1. Add the correct box sizing in IE 10-
  padding: 0; // 2. Remove the padding in IE 10-
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  // Remove the default appearance of temporal inputs to avoid a Mobile Safari
  // bug where setting a custom line-height prevents text from being vertically
  // centered within the input.
  // See https://bugs.webkit.org/show_bug.cgi?id=139848
  // and https://github.com/twbs/bootstrap/issues/11266
  -webkit-appearance: listbox;
}

textarea {
  overflow: auto; // Remove the default vertical scrollbar in IE.
  // Textareas should really only resize vertically so they don't break their (horizontal) containers.
  resize: vertical;
}

fieldset {
  // Browsers set a default `min-width: min-content;` on fieldsets,
  // unlike e.g. `<div>`s, which have `min-width: 0;` by default.
  // So we reset that to ensure fieldsets behave more like a standard block element.
  // See https://github.com/twbs/bootstrap/issues/12359
  // and https://html.spec.whatwg.org/multipage/#the-fieldset-and-legend-elements
  min-width: 0;
  // Reset the default outline behavior of fieldsets so they don't affect page layout.
  padding: 0;
  margin: 0;
  border: 0;
}

// 1. Correct the text wrapping in Edge and IE.
// 2. Correct the color inheritance from `fieldset` elements in IE.
legend {
  display: block;
  width: 100%;
  max-width: 100%; // 1
  padding: 0;
  line-height: inherit;
  color: inherit; // 2
  white-space: normal; // 1
}

// Correct the cursor style of increment and decrement buttons in Chrome.
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  // This overrides the extra rounded corners on search inputs in iOS so that our
  // `.form-control` class can properly style them. Note that this cannot simply
  // be added to `.form-control` as it's not specific enough. For details, see
  // https://github.com/twbs/bootstrap/issues/11586.
  outline-offset: -2px; // 2. Correct the outline style in Safari.
  -webkit-appearance: none;
}

//
// Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
//

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

//
// 1. Correct the inability to style clickable types in iOS and Safari.
// 2. Change font properties to `inherit` in Safari.
//

::-webkit-file-upload-button {
  font: inherit; // 2
  -webkit-appearance: button; // 1
}


//
// Correct element displays
//

output {
  display: inline-block;
}

summary {
  display: list-item; // Add the correct display in all browsers
  cursor: pointer;
}

template {
  display: none; // Add the correct display in IE
}
