/**************************************************************
  Name: Fonts
  Description: declarations of fonts
**************************************************************/


/*** Component: fonts ***/
@font-face {
  font-family: 'mfw_protocolharel';
  src: url('/assets/fonts/MFW_ProtocolHarel-Medium.woff2') format('woff2'),
       url('/assets/fonts/MFW_ProtocolHarel-Medium.woff') format('woff');
  font-weight: normal;
}

@font-face {
  font-family: 'mfw_protocolharel';
  src: url('/assets/fonts/MFW_ProtocolHarel-Bold.woff2') format('woff2'),
       url('/assets/fonts/MFW_ProtocolHarel-Bold.woff') format('woff');
  font-weight: bold;
}

@font-face {
  font-family: 'mfw_protocolharel';
  src: url('../fonts/MFW_ProtocolHarel-Light.woff2') format('woff2'),
       url('../fonts/MFW_ProtocolHarel-Light.woff') format('woff');
  font-weight: 300;
}
