/**************************************************************
  Name: Form
  Description: Defines styles for form inputs and elements

  Component:
  .h-form__asterix

  State:
  .is-text
  .is-danger
**************************************************************/


// Imports
@import "../variables/global";
@import "../variables/colors";
@import "../variables/breakpoints";


// Mixins
// focus style
@mixin focus-style($color: $color-primary-1) {
  box-shadow: 0 0 0 3px rgba($color, .2);
  outline: 1px solid transparent;
}


// Variables
$form-label-color: $color-primary-1;
$form-height: 40px;
$form-padding: 1px 6px;
$form-border-color: rgba($color-primary-1, .3);
$form-color: $color-base;
$form-font-size: 1em;
$form-disabled-border: #e5e5e5;
$form-disabled-background: #f6f6f6;
$form-disabled-color: #9b9b9b;
$form-placeholder-color: rgba(0, 0, 0, 0.4); // #b7b7b7;
$form-asterix-font-size: 0.8em;

$form-checkbox-radio-border-color: #8c9ba5;
$form-checkbox-radio-width: $global-spacing-medium;
$form-checkbox-radio-height: $global-spacing-medium;
$form-checkbox-radio-gutter-right: ($global-spacing-medium + $global-spacing-small);


// Component
::-webkit-input-placeholder {
  color: $form-placeholder-color;
}

::-moz-placeholder {
  color: $form-placeholder-color;
}

:-ms-input-placeholder {
  color: $form-placeholder-color !important; // Higher specificity (!important) needed to override color in IE
}

::placeholder {
  color: $form-placeholder-color;
}

// Removes box-shadow for invalid controls in Firefox
:invalid,
:-moz-submit-invalid,
:-moz-ui-invalid {
  box-shadow: none;
}

// Remove the select arrow image because the browser also shows the default arrow
select::-ms-value {
	background-color: transparent;
	color: $form-color;
}

// Remove the IE10+ stuff from inputs
select::-ms-expand,
input::-ms-clear,
input::-ms-reveal {
  display: none;
}

.h-form__asterix {
  color: $color-danger;
  font-size: $form-asterix-font-size;
}

textarea,
select,
input {
  font-family: $global-font-family;
  color: $form-color;
	margin: 0;
	border-radius: 0;

  &:disabled {
    cursor: not-allowed;
  }
}






label,
legend {
	color: $form-label-color;
	display: inline-block;
}

// global input style
textarea,
select,
input[type]:not([type="checkbox"]):not([type="radio"]) {
  font-family: $global-font-family;
	height: $form-height;
	max-width: 100%;
	padding: $form-padding;
	width: 100%;
	word-wrap: normal;
	border: 1px solid $form-border-color;
	background: #fff;
	color: $form-color;
	font-size: $form-font-size;
	margin: 0;
	border-radius: 0;
	-webkit-appearance: none;
  -moz-appearance: none;

  &:disabled {
		border-color: $form-disabled-border;
		background-color: $form-disabled-background;
		color: $form-disabled-color;
    cursor: not-allowed;
  }

  // State: danger mode
  &.is-danger {
    border-color: $color-danger !important;
    color: $color-danger !important;

    &:focus {
      @include focus-style($color-danger);
    }
  }
}

textarea,
input[type]:not([type="checkbox"]):not([type="radio"]) {
  &:not(.is-danger):not(:read-only):focus {
    @include focus-style;
  }
}

// State: show input as text
input[type]:not([type="checkbox"]):not([type="radio"]).is-text {
  background-color: transparent;
  border: solid transparent;
  border-width: 1px 0;
  padding: 0;
}

// textarea style
textarea {
	height: auto;
	overflow: auto;
	padding-top: 10px;
	padding-bottom: 10px;
}

// select style
select {
	cursor: pointer;
  background-color: transparent;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 1792 1792' width='20' height='20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23003f80' d='M1395 736q0 13-10 23l-466 466q-10 10-23 10t-23-10L407 759q-10-10-10-23t10-23l50-50q10-10 23-10t23 10l393 393 393-393q10-10 23-10t23 10l50 50q10 10 10 23z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 0 50%;
	padding-left: 20px;

	&[multiple],
	&[size] {
    height: auto;
  }

  &:not(.is-danger):focus {
    @include focus-style;
  }
}


// checkbox & radio
input[type="radio"] + label:before {
  border-radius: 50%;
}

input[type="radio"]:checked + label:before {
  background-color: rgba($color-primary-1, .8);
  border-color: rgba($color-primary-1, .8);
  box-shadow: inset 0 0 0 3px #fff;
}

input[type="checkbox"],
input[type="radio"] {
  position: absolute;
  opacity: 0;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
  position: relative;
  display: inline-block;
  cursor: pointer;
  padding-right: $form-checkbox-radio-gutter-right;
  color: $color-base;
}

input[type="checkbox"] + label:before,
input[type="radio"] + label:before {
  content: '';
  display: inline-block;
  vertical-align: text-top;
  width: $form-checkbox-radio-width;
  height: $form-checkbox-radio-width;
  background: #fff;
  border: 1px solid $form-checkbox-radio-border-color;
  position: absolute;
  top: 0;
  right: 0;
}

input[type="checkbox"] + label:after {
  content: '';
  display: block;
  height: 5px;
  width: 9px;
  border-left: 2px solid $color-primary-1;
  border-bottom: 2px solid $color-primary-1;
  transform: rotate(-45deg);
  position: absolute;
  top: 4px;
  right: 3px;
  opacity: 0;
}

input[type="checkbox"] + label:empty,
input[type="radio"] + label:empty {
  min-height: 15px;
  min-width: 18px;
  padding: 0;
}

input[type="checkbox"]:checked + label:after {
  opacity: 1;
}

input[type="checkbox"]:checked + label:before {
  border-color: rgba($color-primary-1, .8);
}

input[type="checkbox"]:disabled + label,
input[type="radio"]:disabled + label {
  color: $form-disabled-color;
  cursor: not-allowed;
}

input[type="checkbox"]:disabled + label:before,
input[type="radio"]:disabled + label:before {
  background-color: $form-disabled-background;
  border-color: $form-disabled-border;
}

input[type="checkbox"]:disabled + label:after {
  border-color: $form-disabled-color;
}

input[type="checkbox"]:focus + label:before {
  @include focus-style;
}

input[type="radio"]:focus + label:after {
  content: '';
  position: absolute;
  display: inline-block;
  width: $form-checkbox-radio-width;
  height: $form-checkbox-radio-width;
  top: 0;
  right: 0;
  border-radius: 50%;
  @include focus-style;
}

input[type="radio"],
input[type="checkbox"] {
  &.is-danger + label:before {
    border-color: rgba($color-danger, .8);
  }

  &.is-danger + label:after {
    border-left-color: $color-danger;
    border-bottom-color: $color-danger;
  }
}

input[type="checkbox"].is-danger:focus + label:before {
  @include focus-style($color-danger);
}

input[type="radio"].is-danger:checked + label:before {
  background-color: rgba($color-danger, .8);
}

input[type="radio"].is-danger:focus + label:after {
  @include focus-style($color-danger);
}
