/**************************************************************
  Name: Grid
  Description: Flexbox based responsive, fluid and nestable grid

  Component:
  .h-gr  (row)
  .h-gr-*  (grid by number on row)
  .h-gr-l-*  (responsive row on large breakpoint)
  .h-gr-m-*  (responsive row on medium breakpoint)
  .h-gr-s-*  (responsive row on small breakpoint)
  .h-cl  (column)
  .h-cl-*  (columns sizes)
  .h-cl-l-*  (responsive column on large breakpoint)
  .h-cl-m-*  (responsive column on medium breakpoint)
  .h-cl-s-*  (responsive column on small breakpoint)

  Modifiers:
  .h-gr--large
  .h-gr--largeH
  .h-gr--largeV
  .h-gr--no-gutter
  .h-gr--reverse
  .h-gr--column
  .h-gr--column-reverse
  .h-gr--space-between
  .h-gr--space-around
  .h-gr--equal-height
  .h-gr--center
  .h-gr--left
  .h-gr--middle
  .h-gr--bottom
  .h-column--top
  .h-column--bottom
**************************************************************/

// Imports
@import "../variables/breakpoints";


// Variables
$grid-gutter-horizontal: 8px;
$grid-gutter-horizontal-negative: -8px;
$grid-gutter-vertical: 8px;
$grid-gutter-horizontal-large: 20px;
$grid-gutter-horizontal-large-negative: -20px;
$grid-gutter-vertical-large: 20px;


// Component
.h-gr {
  display: flex;
  flex-flow: row wrap;
  margin: 0 $grid-gutter-horizontal-negative 0 0;
  padding: 0;
  list-style: none;

  &--no-gutter {
    margin: 0;

    & > [class*="h-cl"] {
      padding: 0;
    }
  }

  &--reverse {
    flex-direction: row-reverse;
  }

  &--column {
    flex-direction: column;
  }

  &--column-reverse {
    flex-direction: column-reverse;
  }

  &--space-between {
    justify-content: space-between;
  }

  &--space-around {
    justify-content: space-around;
  }

  &--equal-height > [class*="h-cl"] {
    display: flex;

    & > * {
      flex: 1;
    }
  }

  &--center {
    justify-content: center;
  }

  &--left {
    justify-content: flex-end;
    align-self: flex-end;
    margin-left: auto;
  }

  &--middle {
    align-items: center;
  }

  &--bottom {
    align-items: flex-end;
  }
}


/* Column */
.h-cl,
[class*="h-cl-"] {
  flex: 0 0 auto;
  padding: 0 $grid-gutter-horizontal $grid-gutter-vertical 0;
  max-width: 100%;
}

.h-cl {
  flex: 1 1 0%;
}

.h-gr[class*="h-cl"] {
  margin: 0;
  padding: 0;
}

.h-gr--large {
  margin-right: $grid-gutter-horizontal-large-negative;

  & > .h-cl,
  & > [class*="h-cl-"] {
    padding-right: $grid-gutter-horizontal-large;
    padding-bottom: $grid-gutter-vertical-large;
  }
}

.h-gr--largeH {
  margin-right: $grid-gutter-horizontal-large-negative;

  & > .h-cl,
  & > [class*="h-cl-"] {
    padding-right: $grid-gutter-horizontal-large;
  }
}

.h-gr--largeV {
  & > .h-cl,
  & > [class*="h-cl-"] {
    padding-bottom: $grid-gutter-vertical-large;
  }
}


/* Column modifiers */
/* need to use full name (h-column) so it will not collide with column style */
.h-column {
  &--top {
    align-self: flex-start;
  }

  &--bottom {
    align-self: flex-end;
  }
}


/* Grid by number on row */
.h-gr-1 > [class*="h-cl"] {
  flex-basis: 100%;
  max-width: 100%;
}

.h-gr-2 > [class*="h-cl"] {
  flex-basis: 50%;
  max-width: 50%;
}

.h-gr-3 > [class*="h-cl"] {
  flex-basis: 33.33333333%;
  max-width: 33.33333333%;
}

.h-gr-4 > [class*="h-cl"] {
  flex-basis: 25%;
  max-width: 25%;
}

.h-gr-5 > [class*="h-cl"] {
  flex-basis: 20%;
  max-width: 20%;
}

.h-gr-6 > [class*="h-cl"] {
  flex-basis: 16.66666667%;
  max-width: 16.66666667%;
}

.h-gr-7 > [class*="h-cl"] {
  flex-basis: 14.28571429%;
  max-width: 14.28571429%;
}

.h-gr-8 > [class*="h-cl"] {
  flex-basis: 12.5%;
  max-width: 12.5%;
}

.h-gr-9 > [class*="h-cl"] {
  flex-basis: 11.11111111%;
  max-width: 11.11111111%;
}

.h-gr-10 > [class*="h-cl"] {
  flex-basis: 10%;
  max-width: 10%;
}

.h-gr-11 > [class*="h-cl"] {
  flex-basis: 9.09090909%;
  max-width: 9.09090909%;
}

.h-gr-12 > [class*="h-cl"] {
  flex-basis: 8.33333333%;
  max-width: 8.33333333%;
}


/* Columns sizes */
.h-gr > .h-cl-1 {
  flex-basis: 8.33333333%;
  max-width: 8.33333333%;
}

.h-gr > .h-cl-2 {
  flex-basis: 16.66666667%;
  max-width: 16.66666667%;
}

.h-gr > .h-cl-3 {
  flex-basis: 25%;
  max-width: 25%;
}

.h-gr > .h-cl-4 {
  flex-basis: 33.33333333%;
  max-width: 33.33333333%;
}

.h-gr > .h-cl-5 {
  flex-basis: 41.66666667%;
  max-width: 41.66666667%;
}

.h-gr > .h-cl-6 {
  flex-basis: 50%;
  max-width: 50%;
}

.h-gr > .h-cl-7 {
  flex-basis: 58.33333333%;
  max-width: 58.33333333%;
}

.h-gr > .h-cl-8 {
  flex-basis: 66.66666667%;
  max-width: 66.66666667%;
}

.h-gr > .h-cl-9 {
  flex-basis: 75%;
  max-width: 75%;
}

.h-gr > .h-cl-10 {
  flex-basis: 83.33333333%;
  max-width: 83.33333333%;
}

.h-gr > .h-cl-11 {
  flex-basis: 91.66666667%;
  max-width: 91.66666667%;
}

.h-gr > .h-cl-12 {
  flex-basis: 100%;
  max-width: 100%;
}


/* Responsiveness */
@media (max-width: $breakpoint-large) {
  .h-gr > .h-cl-l-1,
  .h-gr-l-1 > [class*="h-cl"] {
    flex-basis: 8.33333%;
    max-width: 8.33333%;
  }

  .h-gr > .h-cl-l-2,
  .h-gr-l-2 > [class*="h-cl"] {
    flex-basis: 16.66667%;
    max-width: 16.66667%;
  }

  .h-gr > .h-cl-l-3,
  .h-gr-l-3 > [class*="h-cl"], {
    flex-basis: 25%;
    max-width: 25%;
  }

  .h-gr > .h-cl-l-4,
  .h-gr-l-4 > [class*="h-cl"] {
    flex-basis: 33.33333%;
    max-width: 33.33333%;
  }

  .h-gr > .h-cl-l-5,
  .h-gr-l-5 > [class*="h-cl"] {
    flex-basis: 41.66667%;
    max-width: 41.66667%;
  }

  .h-gr > .h-cl-l-6,
  .h-gr-l-6 > [class*="h-cl"] {
    flex-basis: 50%;
    max-width: 50%;
  }

  .h-gr > .h-cl-l-7,
  .h-gr-l-7 > [class*="h-cl"] {
    flex-basis: 58.33333%;
    max-width: 58.33333%;
  }

  .h-gr > .h-cl-l-8,
  .h-gr-l-8 > [class*="h-cl"] {
    flex-basis: 66.66667%;
    max-width: 66.66667%;
  }

  .h-gr > .h-cl-l-9,
  .h-gr-l-9 > [class*="h-cl"] {
    flex-basis: 75%;
    max-width: 75%;
  }

  .h-gr > .h-cl-l-10,
  .h-gr-l-10 > [class*="h-cl"] {
    flex-basis: 83.33333%;
    max-width: 83.33333%;
  }

  .h-gr > .h-cl-l-11,
  .h-gr-l-1 > [class*="h-cl"] {
    flex-basis: 91.66667%;
    max-width: 91.66667%;
  }

  .h-gr > .h-cl-l-12,
  .h-gr-l-12 > [class*="h-cl"] {
    flex-basis: 100%;
    max-width: 100%;
  }
}

@media (max-width: $breakpoint-medium) {
  .h-gr > .h-cl-m-1,
  .h-gr-m-1 > [class*="h-cl"] {
    flex-basis: 8.33333%;
    max-width: 8.33333%;
  }

  .h-gr > .h-cl-m-2,
  .h-gr-m-2 > [class*="h-cl"] {
    flex-basis: 16.66667%;
    max-width: 16.66667%;
  }

  .h-gr > .h-cl-m-3,
  .h-gr-m-3 > [class*="h-cl"], {
    flex-basis: 25%;
    max-width: 25%;
  }

  .h-gr > .h-cl-m-4,
  .h-gr-m-4 > [class*="h-cl"] {
    flex-basis: 33.33333%;
    max-width: 33.33333%;
  }

  .h-gr > .h-cl-m-5,
  .h-gr-m-5 > [class*="h-cl"] {
    flex-basis: 41.66667%;
    max-width: 41.66667%;
  }

  .h-gr > .h-cl-m-6,
  .h-gr-m-6 > [class*="h-cl"] {
    flex-basis: 50%;
    max-width: 50%;
  }

  .h-gr > .h-cl-m-7,
  .h-gr-m-7 > [class*="h-cl"] {
    flex-basis: 58.33333%;
    max-width: 58.33333%;
  }

  .h-gr > .h-cl-m-8,
  .h-gr-m-8 > [class*="h-cl"] {
    flex-basis: 66.66667%;
    max-width: 66.66667%;
  }

  .h-gr > .h-cl-m-9,
  .h-gr-m-9 > [class*="h-cl"] {
    flex-basis: 75%;
    max-width: 75%;
  }

  .h-gr > .h-cl-m-10,
  .h-gr-m-10 > [class*="h-cl"] {
    flex-basis: 83.33333%;
    max-width: 83.33333%;
  }

  .h-gr > .h-cl-m-11,
  .h-gr-m-1 > [class*="h-cl"] {
    flex-basis: 91.66667%;
    max-width: 91.66667%;
  }

  .h-gr > .h-cl-m-12,
  .h-gr-m-12 > [class*="h-cl"] {
    flex-basis: 100%;
    max-width: 100%;
  }
}

@media (max-width: $breakpoint-small) {
  .h-gr > .h-cl-s-1,
  .h-gr-s-1 > [class*="h-cl"] {
    flex-basis: 8.33333%;
    max-width: 8.33333%;
  }

  .h-gr > .h-cl-s-2,
  .h-gr-s-2 > [class*="h-cl"] {
    flex-basis: 16.66667%;
    max-width: 16.66667%;
  }

  .h-gr > .h-cl-s-3,
  .h-gr-s-3 > [class*="h-cl"], {
    flex-basis: 25%;
    max-width: 25%;
  }

  .h-gr > .h-cl-s-4,
  .h-gr-s-4 > [class*="h-cl"] {
    flex-basis: 33.33333%;
    max-width: 33.33333%;
  }

  .h-gr > .h-cl-s-5,
  .h-gr-s-5 > [class*="h-cl"] {
    flex-basis: 41.66667%;
    max-width: 41.66667%;
  }

  .h-gr > .h-cl-s-6,
  .h-gr-s-6 > [class*="h-cl"] {
    flex-basis: 50%;
    max-width: 50%;
  }

  .h-gr > .h-cl-s-7,
  .h-gr-s-7 > [class*="h-cl"] {
    flex-basis: 58.33333%;
    max-width: 58.33333%;
  }

  .h-gr > .h-cl-s-8,
  .h-gr-s-8 > [class*="h-cl"] {
    flex-basis: 66.66667%;
    max-width: 66.66667%;
  }

  .h-gr > .h-cl-s-9,
  .h-gr-s-9 > [class*="h-cl"] {
    flex-basis: 75%;
    max-width: 75%;
  }

  .h-gr > .h-cl-s-10,
  .h-gr-s-10 > [class*="h-cl"] {
    flex-basis: 83.33333%;
    max-width: 83.33333%;
  }

  .h-gr > .h-cl-s-11,
  .h-gr-s-1 > [class*="h-cl"] {
    flex-basis: 91.66667%;
    max-width: 91.66667%;
  }

  .h-gr > .h-cl-s-12,
  .h-gr-s-12 > [class*="h-cl"] {
    flex-basis: 100%;
    max-width: 100%;
  }
}


.h-gr--column,
.h-gr--column-reverse {
  & > [class*="h-cl-"] {
    flex-basis: auto;
  }
}
