/**************************************************************
  Name: Print
  Description: Optimize page for printing
               Using https://github.com/h5bp/html5-boilerplate

  Component:
  .h-print

  Modifiers:
  .h-print--hide
  .h-print--show
  .h-print--text
**************************************************************/


// Variables
$print-page-margin:      		0.5cm;


// Component
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important; // Black prints faster
    box-shadow: none !important;
    text-shadow: none !important;
  }

  @page {
    margin: $print-page-margin;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }

	img {
    max-width: 100% !important;
  }

  // print utilities
  .h-print {
    &--hide {
      display: none;
      visibility: hidden;
    }

    &--show {
      display: block;
      visibility: visible;
    }

    &--text {
      &, &:visited { text-decoration: none; }
      &[href]:after, &[title]:after { content: ""; }
    }
  }
}

.h-print--show {
	display: none;
	visibility: hidden;
}
