/**************************************************************
  Name: Text
  Description: Defines styles for text

  Component:
  .u-light
  .u-normal
  .u-bold
  .u-h* - header
  .u-c* - color
  .u-bg - background color
  .u-a-* - align
  .u-nowrap
  .u-truncate
  .u-break

  Remarks:
  t/r/l/b - top/right/left/bottom
  v/h - vertical/horizontal
**************************************************************/


// Imports
@import "../variables/global";
@import "../variables/breakpoints";
@import "../variables/colors";


// Component
// Weight modifiers
.u-light { font-weight: 300 !important; }
.u-normal { font-weight: normal !important; }
.u-bold { font-weight: bold !important; }

// Header modifiers
.u-h1 { font-size: $base-header1-font-size !important; }
.u-h2 { font-size: $base-header2-font-size !important; }
.u-h3 { font-size: $base-header3-font-size !important; }
.u-h4 { font-size: $base-header4-font-size !important; }
.u-h5 { font-size: $base-header5-font-size !important; }
.u-h6 { font-size: $base-header6-font-size !important; }

// Color modifiers
.u-c1 { color: $color-primary-1 !important; }
.u-c2 { color: $color-primary-2 !important; }
.u-c3 { color: $color-primary-3 !important; }
.u-c4 { color: $color-primary-4 !important; }
.u-c5 { color: $color-primary-5 !important; }

.u-c-white { color: #fff !important; }
.u-c-link { color: $color-link !important; }
.u-c-success { color: $color-success !important; }
.u-c-danger { color: $color-danger !important; }
.u-c-gray { color: $color-gray !important; }
.u-c-base { color: $color-base !important; }
.u-c-muted,
.u-c-muted:hover,
.u-c-muted:focus {
	color: $color-gray !important;
}

.u-bg1 { background-color: $color-primary-1 !important; }
.u-bg2 { background-color: $color-primary-2 !important; }
.u-bg3 { background-color: $color-primary-3 !important; }
.u-bg4 { background-color: $color-primary-4 !important; }
.u-bg5 { background-color: $color-primary-5 !important; }

.u-bg-white { background-color: #fff !important; }
.u-bg-link { background-color: $color-link !important; }
.u-bg-success { background-color: $color-success !important; }
.u-bg-danger { background-color: $color-danger !important; }
.u-bg-gray { background-color: $color-gray !important; }
.u-bg-muted { background-color: $color-mute !important; }


// Alignment modifiers
.u-a-left { text-align: left !important; }
.u-a-right { text-align: right !important; }
.u-a-center { text-align: center !important; }

.u-a-top { vertical-align: top !important; }
.u-a-middle { vertical-align: middle !important; }
.u-a-bottom { vertical-align: bottom !important; }

@media (max-width: $breakpoint-large) {
	.u-a-left-l { text-align: left !important; }
	.u-a-center-l { text-align: center !important; }
	.u-a-right-l { text-align: right !important; }
}

@media (max-width: $breakpoint-medium) {
  .u-a-left-m { text-align: left !important; }
  .u-a-center-m { text-align: center !important; }
  .u-a-right-m { text-align: right !important; }
}

@media (max-width: $breakpoint-small) {
	.u-a-left-s { text-align: left !important; }
	.u-a-center-s { text-align: center !important; }
	.u-a-right-s { text-align: right !important; }
}


// Wrap modifiers
// Prevent text from wrapping onto multiple lines
.u-nowrap { white-space: nowrap; }

// Prevent text from wrapping onto multiple lines, and truncate with an ellipsis
.u-truncate {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
  max-width: 100%;
}

// Break strings if their length exceeds the width of their container
.u-break {
	word-wrap: break-word;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
}
