/**************************************************************
  Name: Utility
  Description: Defines utility classes for global style

  Component: TODO: fill this
  .u-m* - margin
  .u-p* - padding
  .u-d-* - display
  .u-wrap

  Remarks:
  p/m - margin/padding
  t/r/l/b - top/right/left/bottom
  v/h - vertical/horizontal
  d - display
  sr - screen reader
  n - none
  i - inline
  b - block
  ib - inline block
**************************************************************/


// Imports
@import "../variables/global";
@import "../variables/breakpoints";


// Variables
$utility-wrap-medium-width: 733px;
$utility-wrap-width: 980px;


// Component

// Float handling:
// Micro clearfix
.u-clearfix{
  &:before, &:after {
    content: " ";
    display: table;
  }

  &:after { clear: both; }
}

// Float. Prevent content overflow on small devices
.u-left { float: left !important; }
.u-right { float: right !important; }

.u-left,
.u-right {
  max-width: 100%;
  @media (max-width: $breakpoint-small) { float: none !important; }
}


// Spacing options:
// Margin
.u-m-xs  { margin: $global-spacing-xsmall !important; }
.u-mt-xs { margin-top: $global-spacing-xsmall !important; }
.u-mr-xs { margin-right: $global-spacing-xsmall !important; }
.u-mb-xs { margin-bottom: $global-spacing-xsmall !important; }
.u-ml-xs { margin-left: $global-spacing-xsmall !important; }

.u-m-s  { margin: $global-spacing-small !important; }
.u-mt-s { margin-top: $global-spacing-small !important; }
.u-mr-s { margin-right: $global-spacing-small !important; }
.u-mb-s { margin-bottom: $global-spacing-small !important; }
.u-ml-s { margin-left: $global-spacing-small !important; }

.u-m-m  { margin: $global-spacing-medium !important; }
.u-mt-m { margin-top: $global-spacing-medium !important; }
.u-mr-m { margin-right: $global-spacing-medium !important; }
.u-mb-m { margin-bottom: $global-spacing-medium !important; }
.u-ml-m { margin-left: $global-spacing-medium !important; }

.u-m-l  { margin: $global-spacing-large !important; }
.u-mt-l { margin-top: $global-spacing-large !important; }
.u-mr-l { margin-right: $global-spacing-large !important; }
.u-mb-l { margin-bottom: $global-spacing-large !important; }
.u-ml-l { margin-left: $global-spacing-large !important; }

.u-m-xl  { margin: $global-spacing-xlarge !important; }
.u-mt-xl { margin-top: $global-spacing-xlarge !important; }
.u-mr-xl { margin-right: $global-spacing-xlarge !important; }
.u-mb-xl { margin-bottom: $global-spacing-xlarge !important; }
.u-ml-xl { margin-left: $global-spacing-xlarge !important; }

.u-m-xxl  { margin: $global-spacing-xxlarge !important; }
.u-mt-xxl { margin-top: $global-spacing-xxlarge !important; }
.u-mr-xxl { margin-right: $global-spacing-xxlarge !important; }
.u-mb-xxl { margin-bottom: $global-spacing-xxlarge !important; }
.u-ml-xxl { margin-left: $global-spacing-xxlarge !important; }

.u-m-del  { margin: 0 !important; }
.u-mt-del { margin-top: 0 !important; }
.u-mb-del { margin-bottom: 0 !important; }
.u-ml-del { margin-left: 0 !important; }
.u-mr-del { margin-right: 0 !important; }

// Padding
.u-p-xs  { padding: $global-spacing-xsmall !important; }
.u-pt-xs { padding-top: $global-spacing-xsmall !important; }
.u-pr-xs { padding-right: $global-spacing-xsmall !important; }
.u-pb-xs { padding-bottom: $global-spacing-xsmall !important; }
.u-pl-xs { padding-left: $global-spacing-xsmall !important; }

.u-p-s  { padding: $global-spacing-small !important; }
.u-pt-s { padding-top: $global-spacing-small !important; }
.u-pr-s { padding-right: $global-spacing-small !important; }
.u-pb-s { padding-bottom: $global-spacing-small !important; }
.u-pl-s { padding-left: $global-spacing-small !important; }

.u-p-m  { padding: $global-spacing-medium !important; }
.u-pt-m { padding-top: $global-spacing-medium !important; }
.u-pr-m { padding-right: $global-spacing-medium !important; }
.u-pb-m { padding-bottom: $global-spacing-medium !important; }
.u-pl-m { padding-left: $global-spacing-medium !important; }

.u-p-l  { padding: $global-spacing-large !important; }
.u-pt-l { padding-top: $global-spacing-large !important; }
.u-pr-l { padding-right: $global-spacing-large !important; }
.u-pb-l { padding-bottom: $global-spacing-large !important; }
.u-pl-l { padding-left: $global-spacing-large !important; }

.u-p-xl  { padding: $global-spacing-xlarge !important; }
.u-pt-xl { padding-top: $global-spacing-xlarge !important; }
.u-pr-xl { padding-right: $global-spacing-xlarge !important; }
.u-pb-xl { padding-bottom: $global-spacing-xlarge !important; }
.u-pl-xl { padding-left: $global-spacing-xlarge !important; }

.u-p-xxl  { padding: $global-spacing-xxlarge !important; }
.u-pt-xxl { padding-top: $global-spacing-xxlarge !important; }
.u-pr-xxl { padding-right: $global-spacing-xxlarge !important; }
.u-pb-xxl { padding-bottom: $global-spacing-xxlarge !important; }
.u-pl-xxl { padding-left: $global-spacing-xxlarge !important; }

.u-p-del  { padding: 0 !important; }
.u-pt-del { padding-top: 0 !important; }
.u-pb-del { padding-bottom: 0 !important; }
.u-pl-del { padding-left: 0 !important; }
.u-pr-del { padding-right: 0 !important; }


// Display options:
// display only for screen readers (accessibiliy helper)
.u-d-sr {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0,0,0,0);
  border: 0;
  white-space: nowrap;
}

.u-d-n { display: none !important; }
.u-d-b { display: block !important; }
.u-d-i { display: inline !important; }
.u-d-ib { display: inline-block !important; }


// Wrapper
.u-wrap {
  position: relative;
	margin-left: auto;
	margin-right: auto;
	float: none;
	clear: both;
  max-width: ($utility-wrap-width + ($global-spacing-medium * 2));
  padding: 0 $global-spacing-medium;

  @media (max-width: $breakpoint-large) {
		max-width: ($utility-wrap-medium-width + ($global-spacing-medium * 2));
  }

  @media (max-width: $breakpoint-small) {
		padding: 0 $global-spacing-small;
	}

	&:before, &:after {
		content: " ";
		display: table;
	}

	&:after { clear: both; }
}
