/**************************************************************
  Component: Breakpoints Variables
  Description: Defines all breakpoints as variables
**************************************************************/


// Variables
$breakpoint-small: 518px;
$breakpoint-medium: 765px;
$breakpoint-large: 1013px;
