/**************************************************************
  Component: Colors Variables
  Description: Defines all color as variables to allow easy customization for the most common cases.
**************************************************************/


// Variables
$color-primary-1: #003f80; // primary blue
$color-primary-2: #002447; // dark blue
$color-primary-3: #006cb2; // background blue
$color-primary-4: #c89015; // primary orange
$color-primary-5: #e0e8fa; // light blue

$color-link: #006cb2;
$color-success: #388540;
$color-danger: #f44336; // #d9534f;
$color-gray: #e8eaed;
$color-mute: #999;
$color-base: #585858;
