/**************************************************************
  Component: Global Variables
  Description: Defines global variables that needed for most components
**************************************************************/


// Variables
$global-spacing-unit: 8px;
$global-spacing-xsmall: ($global-spacing-unit * 0.5);
$global-spacing-small: ($global-spacing-unit * 1);
$global-spacing-medium: ($global-spacing-unit * 2);
$global-spacing-large: ($global-spacing-unit * 3);
$global-spacing-xlarge: ($global-spacing-unit * 4);
$global-spacing-xxlarge: ($global-spacing-unit * 5);

$global-font-size: 15px;
$global-line-height: 1.5;
$global-font-family: "mfw_protocolharel", Arial;
