/**************************************************************
  Component: Z-index Variables
  Description: Defines all z-index used in project in one place.
**************************************************************/


// Variables
$z-index-layout-bg: -99;
$z-index-multi-select: -1;
$z-index-switch-label: 2;
$z-index-progress: 9;
$z-index-popover: 19;
$z-index-spinner: 29;
$z-index-tooltip: 39;
$z-index-modal-bg: 500;
$z-index-modal-dialog: 501;
